@model IEnumerable<Invest.Models.InvestmentPremium>
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@{
    ViewBag.Title = "Dashboard";
}




<div class="card p-5 mt-5" style="border-radius: 12px ">

<table class="table mt-2">
    <tr>
        
        <th>
            Investment Package
        <th>
            Amount Invested
        </th>
        <th>
            Date of Payment
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.InvestPack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePaid)
            </td>

        </tr>
    }

</table>
    </div>