@model Invest.Models.MEMBER

@{
    ViewBag.Title = "Validate";
}

<div class="">
    <div class="shadow-lg p-5 mb-5 rounded card col-md-6 ml-auto mr-auto">
        <div class="card-body">
            <h3 class="card-title mb-0">
                Monitor Transactions with <br />Axis Portal
            </h3>

            <p class="card-subtitle">Please enter your Phone Number.</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mt-4 col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                    
                        @Html.TextBoxFor(m => m.CellPhone, "", new { @class = "form-control", @placeholder = "Phone Number" })

                    </div>
                    
                    <div class="form-group">
                        <input type="submit" class="btn btn-success btn-block shadow" value="Validate"/>
                    </div>

                  


                   
                
                
                } 
            </div>
        </div>


    </div>

</div>